<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=
    , initial-scale=1.0"
    />
    <link rel="stylesheet" href="/css/details.css" />
    <script src="/js/scripts.js"></script>
    <title>Vesity</title>
  </head>
  <body class="back">
    <h3 class="ves">VESITY</h3>
    <button class="mes"><a class="mie" href="/account">My account</a></button>
    <a href="/investmentpage"> <h4 class="chi">Back</h4> </a>
    <img
      class="image"
      src="data:image/<%= estate.image.contentType %>;base64,<%= estate.image.data.toString('base64') %>"
      alt="<%= estate.name %>"
    />
    <h2 class="ad"><%= estate.name %></h2>
    <h5 class="gft"><%= estate.address %></h5>
    <h5 class="vin">Market Value</h5>
    <img class="cent" src="/image/Vector.png" alt="" />
    <h5 class="som">23%</h5>
    <h5 class="cln">Price per unit</h5>
    <h5 class="ton"><%= estate.price %></h5>
    <h5 class="tor">Investors</h5>
    <h5 class="abl"><%= estate.numberOfInvestors %></h5>
    <h5 class="line"></h5>
    <h5 class="uni">Total units</h5>
    <form action="/details/<%= estate.id %>" method="post">
      <input
        type="number"
        name="unit"
        id=""
        class="forms"
        placeholder="How many units do you want to buy?"
      />
      <button type="submit" class="unibtn">UNIT</button>
    </form>
    <form action="https://checkout.flutterwave.com/v3/hosted/pay" method="post">
      <input
        type="hidden"
        name="public_key"
        value="FLWPUBK-f10466dbd5cbf33efe366734a8f52967-X"
      />
      <input type="hidden" name="tx_ref" value="TX-1" />
      <input type="hidden" name="amount" value="10" />
      <input type="hidden" name="currency" value="NGN" />
      <input
        type="hidden"
        name="redirect_url"
        value="https://vesity-web-app.herokuapp.com/investmentpage"
      />
      <input type="hidden" name="meta[token]" value="54" />
      <input type="hidden" name="customer[name]" value="Ibrahim Abdulhaqq" />
      <input
        type="hidden"
        name="customer[email]"
        value="enessyibrahim@gmail.com"
      />
      <button type="submit" class="oye">
        <a class="bo">Buy now</a>
      </button>
    </form>

    <h5 class="isa">Invest now to avoid selling out.</h5>
    <br />
    <br />
    
  </body>
</html>
